.inputContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  overflow: auto;
  width: 90%;
  max-width: 90%;
  max-height: 230px;
  border: 2px solid black;
  background-color: white;
  border-radius: 11px;
  padding: 5px;
}

.largerInputCont {
  display: flex;
}

.listData {
  display: flex;
  justify-content: space-around;
}
.task {
  flex-grow: 1;
}

.editBtn {
  border: 1px solid #007bff;
  border-radius: 16px;
  background-color: #007bff;
}
.editBtn:hover {
  cursor: pointer;
  filter: invert(1);
}

.deleteBtn {
  border: 1px solid red;
  border-radius: 50%;
  background-color: red;
}
.deleteBtn:hover {
  cursor: pointer;
  filter: invert(1);
}
